@media screen and (min-width: 481px) and (max-width: 2000px){

    .contenedor{
        background:#F3F5FC;
        width: 1200px;
        margin: 0 auto;
        font-family: "Inter", sans-serif;
    
    }
    header{
        padding: 1em 0 0 0;
    }
    .caja{
        display: grid;
        grid-template-columns:70%  25%  ;
        justify-content: center;
        margin: 10px auto;
    }
    .contendio-principal{
        margin: 10px ;
    }
    .inputs{
        margin: 1em;
        padding: 0 1em;
        justify-content:center ;
        font-size: 32px;
        
    }
    .inputs textarea{
        background: #F3F5FC;
        margin-top: 10px;
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        font-size: 32px;
        color: #0A3871;
    }
    .inputs textarea::placeholder{
        color: #0A3871;
        font-size: 32px;
    }
    .button{
        display: grid;
        grid-template-columns:auto auto ;
        justify-content: space-between;
    }
    #encriptar, #desencriptar,#copia{
        width: 250px;
        height:47px;
        justify-content: center;
        border: 1px solid #0A3871;
        border-radius: 20px;
        transition: 400ms;
        color: #0A3871;
    
    }
    #encriptar{
        background-color: #0A3871;
        color: white;
    
    }
    #desencriptar{
        background: #D8DFE8;
    }
    #encriptar:hover, #desencriptar:hover,#copia:hover{
        transform: scale(1.15);
    }
    
    .informacion{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 229px;
        font-size: 12px;
        color: #495057;
        margin-top:4em;
        margin-bottom: 1em;
        transition: 400ms;
    }
    .informacion:hover{
        transform: scale(1.5);
    }
    
    #exclamacion{
        width: 6%;
        padding-right: 4px;
    }
    
    .info{
        width: auto;
        border:white 1px solid;
        background: white;
        border-radius: 32px;
        text-align: center;
        justify-content: center;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.123) ,2px 2px 10px rgba(0, 0, 0, 0.123);

    }
    .aside-info{
        position: relative;
        display: flex;/**/
        justify-content: center;
        margin: 60px 20px 20px 20px;
        text-align: center;
    }
    .aside-contenido{
        display: flex; 
        justify-content: center;
        text-align: center;
    }
    .listado-info{
        padding: 1em;
        position: relative;
    }
    .listado-info ul{
        width: 220px; 
        padding: 20px;
    }
    .listado-info img{
        padding: 20px;
        width: 220px;
    }
    
    .listado-info h2{
        color: #343A40;
        font-weight: bold;
        font-size: 24px;
    }
    .listado-info h3{
        color: #343A40;
        font-size: 16px;
    }
    .listado-info li{
        padding: 20px;
    }
    .aside-new-info{
        display: none;
    }
    .new-info textarea{
        width: 98%;
        margin-top: 1.5em;
        font-size: 24px;
        resize: none;
        outline: none;
        border:none ;
        color: #343A40;
    }
    #copia{
        margin-top:40px;
    }

}    
