@media screen and (min-width:600px) and (max-width:1200px) {
    .contenedor{
        display: grid;
        grid-template-rows: auto auto auto;
        width: 768px;
        margin: 0 auto;
        font-family: "Inter", sans-serif;
        background:#F3F5FC;
        justify-content: center;
        padding: 40px;
    }
    header{
        display: grid;
        grid-template-columns: auto;
        width: 768px;
        margin: 10px auto;
    }
    .IMG{
        display: flex;
        position: relative;
        width: 100%;
        left: -20px;
        margin-top: 10px;
    }
    main{
        display: grid;
        grid-template-rows: auto auto;
        width: 768px;
        justify-content: center;
        justify-items: center;
        margin: 0 auto;

    }
    .caja{
        display: grid;
        width: 768px;
        margin: 0 auto;
        justify-items:center;
        margin-top: 80px;
    }
    .contendio-principal{
        grid-template-rows: auto auto auto; 
        width: 730px;
        padding: 10px 10px;
        justify-items: center;
        justify-content: center;   
        margin-bottom: 10px;
    }
    .inputs{
        grid-template-rows: auto auto auto;
    }
    #texto-usuario{ 
        
        width: 725px;
        height: 480px;
        font-size: 32px;
        color:#0A3871;
        resize: none;
        background:#F3F5FC;
        border: none;
        outline: none;
    }
    #texto-usuario::placeholder{
        color: #0A3871;
    }
    .informacion{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-top: 3em;
        font-size: 12px;
        padding: 2px;
    }
    .informacion img{
        margin: 2px;
    }
    .informacion h2{
        padding: 5px;
        margin-left: -53px;
    }
    .button{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
         
    }
    #encriptar, #desencriptar,#copia{
        width: 332px;
        height:67px;
        justify-content: center;
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        font-size: 16px;
        margin: 5px 0;
        transition: 100ms;
    }
    #encriptar{
        margin-bottom: 24px;
        background: #0A3871;
        color: white;
    }
    #encriptar:active, #desencriptar:active,#copia:active{
        transform: scale(1.10);
    }
    .aside-info{
        display: inline;
    }
    .info{
        display: grid;
        grid-template-rows: auto;
        width: 760px;
        margin: 10px 0;
        justify-content: center;
        text-align: center;
        border-radius: 32px;
        background:white;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.123) ,2px 2px 10px rgba(0, 0, 0, 0.123);
    }
    .aside-contenido{
        display: grid; /**/
        align-content: center;
        width: 688px;
        height: 133px;
        position: relative;
        justify-content: center;
    }
    .listado-info{
        display: grid;
        width: 624px;
        height: 69px;
        font-size: 16px;
        
    }
    .listado-info img{
        display: none;
    }
    
    .listado-info h2{
        color: #343A40;
        font-weight: bold;
        font-size: 24px;
    }
    .listado-info h3{
        color: #495057;
        font-size: 16px;
    }
    .aside-new-info{
        display: none;/**/
        grid-template-rows: auto 20%;
        width: 768px;
        border-radius: 32px;
        justify-content:center ;
        
    }
    .new-info{
        width: 688px;
        margin: 10px;

    }
    #encrypted-textarea{
        width: 680px;
        height: 343px;
        margin-bottom: 30px ;
        resize: none;
        outline: none;
        color: #495057;
        font-size: 24px;
        border: none;
    }
    #copia{
        width: 624px;
        height: 67px;
        margin-bottom: 20px;
        background-color: white;
    }
    footer{
        width: 768px;
        color:#343A40;
    }
    footer hr{
        border-color: black;
        margin-bottom: 20px;
    }
    .mi-info{
        display: inline;
        position: relative;
        justify-content: center;
        text-align: center;
    }
    .mi-info h3{
        margin: 20px;
    }
    .hr-info{
        width: 40%;
    }
    .redes{
        display: flex;
        position: relative;
        width: 98%;
        justify-content: center;
    }
    .redes img{
        margin: 0 5px;
        width: 50px;
        justify-content: center;
        text-align: center;
        filter: brightness(100%) invert(0%);
        transition: 200ms;
    }
    .redes img:active{
        transform: scale(1.20);
    }

}