@media screen  and (max-width: 500px){
    .contenedor{
        display: grid;
        grid-template-rows: auto auto auto;
        width: 480px;
        font-family: "Inter", sans-serif;
        background:#F3F5FC;
    }
    header{
        display: grid;
        grid-template-columns: auto;
        margin: 10px 0;
    }
    .IMG{
        display: flex;
        position: relative;
        width: 460px;
        height: 50px;
        margin-top: 10px;
    }
    main{
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        justify-items: center;
        margin: 0 20px;
    }
    .contendio-principal{
        grid-template-rows: auto auto auto; 
        width: 440px;
        padding: 10px 10px;
        justify-items: center;
        justify-content: center;   
        margin-bottom: 50px;
    }
    .inputs{
        grid-template-rows: auto auto auto;
    }
    #texto-usuario{ 
        width: 432px;
        height: 280px;
        font-size: 32px;
        color:#0A3871;
        resize: none;
        background:#F3F5FC;
        border: none;
        outline: none;
    }
    #texto-usuario::placeholder{
        color: #0A3871;
    }
    .informacion{
        display: grid;
        grid-template-columns: 10% 90%;
        margin-top: 3em;
        font-size: 12px;
        padding: 2px;
    }
    .informacion img{
        margin: 2px;
    }
    .informacion h2{
        padding: 5px;
        margin-left: -23px;
    }
    .button{
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center; 
    }
    #encriptar, #desencriptar,#copia{
        width: 432px;
        height:67px;
        justify-content: center;
        border: 1px solid #0A3871;
        border-radius: 20px;
        color: #0A3871;
        font-size: 16px;
        margin: 5px 0;
        transition: 100ms;
    }
    #encriptar{
        margin-bottom: 24px;
        background: #0A3871;
        color: white;
    }
    #encriptar:active, #desencriptar:active,#copia:active{
        transform: scale(1.10);
    }
    .aside-info{
        display: inline;
    }
    .info{
        display: grid;
        grid-template-rows: auto;
        width: 460px;
        margin: 10px 0;
        justify-content: center;
        text-align: center;
        border-radius: 32px;
        background:white;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.123) ,2px 2px 10px rgba(0, 0, 0, 0.123);
    }
    .aside-contenido{
        display: flex;
        width: 317px;
        height: 186px;
        position: relative;
        justify-content: center;
    }
    .listado-info{
        width: 253px;
        height: 122px;
        margin-top: 25px;
    }
    .listado-info img{
        display: none;
    }
    .listado-info li{
        margin-top: 16px;
    }
    .listado-info h2{
        color: #343A40;
        font-weight: bold;
        font-size: 24px;
    }
    .listado-info h3{
        color: #495057;
        font-size: 16px;
    }

    .aside-new-info{
        display: none;
        grid-template-rows: auto 20%;
        width: 460px ;
        border-radius: 32px;
    }
    .new-info{
        width: 460px;
    }
    #encrypted-textarea{
        width: 390px;
        margin: 10px ;
        margin-top: 30px;
        resize: none;
        outline: none;
        color: #495057;
        font-size: 24px;
        border: none;
    }

    #copia{
        width: 390px;
        margin-bottom: 20px;
        background-color: white;
    }
    footer{
        width: 480px;
        padding: 20px;
        margin: 2em;
        color:#343A40;
    }
    footer hr{
        border-color: black;
        margin-bottom: 20px;
    }
    .mi-info{
        display: inline;
        position: relative;
        justify-content: center;
        text-align: center;
    }
    .mi-info h3{
        margin: 20px;
    }
    .hr-info{
        width: 40%;
    }
    .redes{
        display: flex;
        position: relative;
        width: 98%;
        justify-content: center;
    }
    .redes img{
        margin: 0 5px;
        width: 50px;
        justify-content: center;
        text-align: center;
        filter: brightness(100%) invert(0%);
    }

}